// main: bootstrap.less
#logo{
  color:         @white;   
}
.text-white{
     color: @white;   
}
.whiteBg{
     background: @white;   
}
.box{
     display: inline-block;
   // height: 200px;
    
    
}
.orangeBg{
     background:         @orangeBg;   
    border:             1px solid @orangeBgBorder;
}
.lightGreenBg{
     background:         @lightGreenBg; 
    border:            1px solid @lightGreenBgBorder;
}
.lightBlueBg{
     background:     @lightBlueBg;
    border:         1px solid @lightBlueBgBorder;
}
.wrapper{
     width: 100%;
    overflow: hidden;
}